<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Redmine Stats !</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../bower_components/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="../../css/custom.css">

    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../../bower_components/chart.js/dist/Chart.js"></script>
    <script src="../../bower_components/angular-chart.js/dist/angular-chart.js"></script>
</head>
<body>

<div ng-controller="statsController as vm">
    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputProject" class="col-sm-2 control-label">Projet</label>
                    <div class="col-sm-10">
                        <ui-select id="inputProject" ng-model="vm.project">
                            <ui-select-match>
                                <span ng-bind="vm.project.name"></span>
                            </ui-select-match>
                            <ui-select-choices
                                repeat="item in (vm.initData.projects | filter: $select.search) track by item.id">
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" ng-show="vm.showVersionField">
                <div class="form-group">
                    <label for="inputVersion" class="col-sm-2 control-label">Version</label>
                    <div class="col-sm-10">
                        <ui-select id="inputVersion" ng-model="vm.version">
                            <ui-select-match>
                                <span ng-bind="vm.version.name"></span>
                            </ui-select-match>
                            <ui-select-choices
                                repeat="item in (vm.initData.versions | filter: $select.search) track by item.id">
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="charts-requirements-us" class="chart-bar"
                    chart-data="vm.charts.avancementsUS.data"
                    chart-labels="vm.charts.avancementsUS.labels"
                    chart-options="vm.charts.avancementsUS.options"
            >
            </canvas>
        </div>
        <div class="col-md-6">
            <canvas id="charts-requirements-points" class="chart-bar"
                    chart-data="vm.charts.avancementsPoint.data"
                    chart-labels="vm.charts.avancementsPoint.labels"
                    chart-options="vm.charts.avancementsPoint.options"
            >
            </canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <canvas class="chart chart-bar" chart-data="vm.charts.globalInformationsUS.data" chart-labels="vm.charts.globalInformationsUS.labels"
                    chart-options="vm.charts.globalInformationsUS.options" chart-series="vm.charts.globalInformationsUS.series"></canvas>
        </div>
        <div class="col-md-6">
            <canvas class="chart chart-bar" chart-data="vm.charts.globalInformationsPoint.data" chart-labels="vm.charts.globalInformationsPoint.labels"
                    chart-options="vm.charts.globalInformationsPoint.options" chart-series="vm.charts.globalInformationsPoint.series"></canvas>
        </div>
    </div>
</div>

<script src="../../bower_components/angular-ui-select/dist/select.js"></script>
<script src="js/stats.ctrl.js"></script>
<script src="../../js/services/redmine.service.js"></script>
</body>
</html>
