<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>ScoutApps !</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/bootstrap-theme.min.css">

        <script src="../bower_components/angular/angular.js"></script>
    </head>
    <body ng-controller="createTicketCtrl as ctc">
        <div ng-show="ctc.step == 1">
            <div class="row" ng-if="$index%3==0" ng-repeat="source in ctc.sources">
                <div class="col-md-4" ng-repeat="i in [0,1,2]"><input type="checkbox" ng-model="ctc.sources[$parent.$index+i].added" ><img ng-src="{{ctc.sources[$parent.$index+i].urlTH}}" class="img-thumbnail" style="max-height: 250px;"></div>
            </div>
            <input type="button" ng-click="ctc.saveForm()" value="Continuer">
        </div>
        <div ng-show="ctc.step == 2">
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-default" type="button" aria-label="Crayon" ng-click="ctc.drawingPencil()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-md-11">
                    <canvas id="canvas">
                        Your browser does not support the canvas element.
                    </canvas>
                    <input type="button" ng-click="ctc.previousScreen()" value="<<">
                    <input type="button" ng-click="ctc.nextScreen()" value=">>">
                </div>
            </div>
        </div>
        <script src="../bower_components/fabric/dist/fabric.js"></script>
        <script src="../js/create-ticket.js"></script>
    </body>
</html>
