<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>ScoutApps !</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../bower_components/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="../css/custom.css">

    <script src="../js/jscolor.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
</head>
<body>

<div ng-include="'create-ticket.html'"></div>

<script src="../bower_components/fabric/dist/fabric.js"></script>
<script src="../bower_components/angular-ui-select/dist/select.js"></script>
<script src="../js/create-ticket.js"></script>
<script src="../js/services/redmine.service.js"></script>
</body>
</html>
